.form {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    border: 1px solid #B2B2B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.text_box {
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 5px;
    padding-bottom: 5px;
}


.text_area {
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 5px;
    padding-bottom: 5px;
}



.radio {
    background: #FFFFFF;
    border: 1px solid #B0B0B0;
}

.radio2 {
    margin-left: 30px;
}

.select2-search__field {
    margin-top: 30px;
    width: 93%;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 5px;
    padding-bottom: 5px;
}

.search_btn {
    padding-right: 10px;
    padding-left: 10px;
}

.users {
    border: 1px solid #B2B2B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-top: 30px;
}

    .users h4 {
        padding-left: 10px;
    }

.radio_area {
    display: flex;
    width: 100%;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #B2B2B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
}

.text_box:focus,
.text_area:focus {
    outline: none;
}

.select2-container .select2-selection--multiple {
    border-radius: 5px;
    border: 1px solid #B2B2B2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
